body {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  /*width: 20vw;*/
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.poster {
  height: 50vh;
}

.activated {
  display: initial;
}

#activatedLi {
  width: auto;
  position: absolute;
  top: 0px;
  box-shadow: 0px 0px 18px 7px rgba(134, 183, 254, 1);
  border-radius: 50px;
  background-color: rgb(232, 240, 254);
  transform: scale(1);
  display: flex;
  flex-direction: row;
  padding: 30px;
  z-index: 1;
}

.descriptionYearHolder {
  width: 30vw;
  margin-left: 10px;
}

.endOfARow {
  right: 0px;
}

.notActivated #activatedLi,
h2.notActivated {
  display: none;
}
